.transfer-ownership {
    border: 1px solid rgb(254, 122, 81);
    background-color: transparent;
    box-shadow: none !important;
    button {
        div {
            div, div:hover {
                height: auto !important;
                background-color: transparent !important;
                span {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }
            }
        }
    }
}

.edit-owner-name{
    box-shadow: none !important;
    border: 2px solid rgb(254, 122, 81) !important;
    background-color: transparent !important;
    padding: 1px;
    button{
        height: 20px !important;
        line-height: 0 !important;
        background-color: transparent !important;
    }
}
.view-history-button {
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .transfer-ownership {
        button {
            div {
                div {
                    span {
                        margin: -5px !important;
                    }
                }
            }
        }
    }
    .view-history-button {
        margin-left: 12px;
        margin-right: -10px;
    }
  }

